<h1>Products</h1>
<div>At Northwest we carry only the top of the line products from Goodman, Lennox and York. Browse our products below, and visit the following websites for more information.</div>
<div class='col-md-2 col-md-offset-3'><a href='http://www.lennox.com/products' target='_blank'><img src='img/lennox/logo.png' class='product-logo'/></a></div>
<div class='col-md-2'><a href='http://www.goodmanmfg.com/ResidentialProducts.aspx'  target='_blank'><img src='img/goodman/logo.png' class='product-logo'/></a></div>
<div class='col-md-2'><a href='http://york.com/residential/products/'  target='_blank'><img src='img/york/logo.png' class='product-logo'/></a></div>

 <ul class="nav nav-tabs clear" id="myTab">
  <li class="active"><a data-target="#lennox" data-toggle='tab'>Lennox</a></li>
  <li><a data-target="#york" data-toggle='tab'>York</a></li>
  <li><a data-target="#goodman" data-toggle='tab'>Goodman</a></li>
  <li><a data-target="#amana" data-toggle='tab'>Amana</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="lennox">
    <div class='lennox-products-region clear'></div>
  </div>
  <div class="tab-pane" id="goodman">
    <div class='goodman-products-region clear'></div>
  </div>
  <div class="tab-pane" id="york">
    <div class='york-products-region clear'></div>
  </div>
  <div class="tab-pane" id="amana">
    <div class='amana-products-region clear'></div>
  </div>
</div>

