<div class='text-center btns'>
	<div class="btn-group" role="group">
	  <button type="button" class="btn btn-default furnace">Furnaces</button>
	  <button type="button" class="btn btn-default ac">A/C</button>
	</div>
</div>
<div class='products-container'></div>