<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive img-rounded" src="img/northwest.png" alt="">
        </div>
    </div>
    <h2 class='text-center'>Proudly serving the Winnipeg community for over 30 years!</h2>

    <hr>
    <div class='col-md-8'>
        <h3>What we do:</h3>
        <p>Northwest Residential Heating and Cooling is a branch of Northwest Ventilation.  Northwest Ventilation has been proudly serving the Winnipeg community for over 30 years.  We operate out of our shop located in Bay 12 at 1865 Sargent Ave.  We provide installation and repair services to all of Winnipeg including Charleswood, St. James, River Heights, St. Boniface, St. Norbert, Ft. Richmond, Ft. Garry, Transcona, East Kildonan, West Kildonan, North Kildonan Linden Woods, Ft. Rouge, St. Vital, Tuxedo, Downtown, Maples, Assiniboine South, Seven Oaks, Inkster, Point Douglas, River East, West St. Paul, East St. Paul, Headingly, Crestview, Westwood, Garden City, St. Charles and surrounding communities.</p>

        <p>If your looking for a new Lennox or York furnace or central air conditioner, gas fireplace, hot water tank, whole home humidifier, whole home air purifier or heat recovery ventilation system in the Winnipeg area call us at 895-3731 for a free quote.   Please browse our website to learn more about the products and services we offer.</p>
        <a class='btn btn-primary find-out-more' href='about'>Find out more</a>
    </div>
    <div class='col-md-4'>
        <h3>Contact Us:</h3>
        <p>Residential sales and service: <a href='tel:204-895-3731'>204-895-3731</a></p>
        <p>Commercial sales and service: <a href='tel:204-895-2288'>204-895-2288</a></p>
        <p>Email: <a href='mailto:contactus@northwestventilation.com'>contactus@northwestventilation.com</a></p>
    </div>
    <hr class='clear'>
        <!-- Content Row -->
    <div class="row clear">
        <div class="col-md-4">
            <div class='text-center home-btn' onclick='window.location="services"'>
                <i class='fa fa-wrench'></i>
                <p>Services</p>
            </div>           
            <ul>
                <li>Furnace service and installations</li>
                <li>A/C service and installations</li>
                <li>HRV service and installations</li>
                <li>Hot water tank service and installations</li>
                <li>Whole home air purifier and installations</li>
                <li>Gas fireplace service and installations</li>
                <li><a href='services'>Find out more</a></li>
            </ul>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <div class='text-center home-btn' onclick='window.location="payments"'>
                <i class='fa fa-money'></i>
                <p>Online Payments</p>
            </div>
            <p>Northwest Residential is pleased to offer our customers a secure, convenient way to pay their bill, anytime, from their own home computer.</p>
            <a href="payments">Pay Online</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
             <div class='text-center home-btn' onclick='window.location="quotes"'>
                <i class='fa fa-calculator'></i>
                <p>Request a Quote</p>
            </div>
            <p>Contact us now to get a free quote for any of your furnace, central air, gas fireplace, hot water tank, whole home air purifier, or heat recovery ventilation system needs! Call 204-895-3731, or <a href="quotes">request a quote online</a> </p>
        </div>
    </div>
</div>