 <div class='col-md-7'>
    <h3>We are happy to provide the following services</h3>
    <ul>
        <li>New furnace installations</li>
        <li>New A/C installations</li>
        <li>Service and repairs of all HVAC equipment</li>
        <li>Hot water tank service and installation</li>
        <li>Duct work installation and retrofitting</li>
        <li>Air quality management</li>
        <li>Maintenance programs</li>
        <li>Energy star certified products</li>
        <li>Warranty</li>
        <li>Manitoba hydro financing and rebates</li>
    </ul>
    <div>If you have any questions regarding our services please email us at contactus@northwestventilation.com</div>
    <div><a href='quotes' class='btn btn-primary request-quote'>Request a quote</a></div>
</div>
<div class='col-md-5'>
    <div class="g-post" data-href="https://plus.google.com/108385852680441972538/posts/bc2Sio4ejE8"></div>
</div>