 <div class='row'>
    <div class='col-md-12'>
        <h1>
           Northwest Ventilation (1977) Ltd. is a COR certified company 
        </h1>
    </div>
    <div class="col-md-7 col-sm-7">
        <p>Northwest Ventilation (1977) Ltd.  is committed to a strong safety program that protects our employees, our clients and the environment. We believe that safety in the workplace is an integral component of a successful company and we have committed to continually working to enhance our safety program.</p> 
        <p>Northwest Ventilation (1977) Ltd.  is recognized by Workplace Safety and Health, and have been granted COR certification by the Construction Safety Association of Manitoba. By being a COR certified company, we are subjected to an annual audit of our safety program and spot inspections ensuring our safety program meets all legislated standards.</p>
        <p>The Construction Safety Association of Manitoba is a non-profit organization that is a participating member of the Canadian Federation of Construction Safety Association and has the authority to grant COR certification (a national safety program accreditation) within Manitoba.   It is made up of the Winnipeg construction association board of Directors and the CSAM Advisory committee.   Although CSAM is not a government organization, they do maintain a close working relationship with Workers Compensation Board and Workplace Safety and Heath to promote safe work practices and procedures throughout the entire construction industry.</p>
        <p>To find out more about CSAM, visit their website at <a href='http://www.constructionsafety.ca'>www.constructionsafety.ca</a></p>
        <p>Employees at every level, including management  have been provided with formal and informal safety training ensuring  they are up to date with all of the legislations set out by Workplace Safety and Health as well are made aware of all current safety policies and procedures.  Employees also attend mandatory safety meetings where safety policies and procedure are discussed.   All employees adhere to company policy and all regulatory requirements.</p>
        <p>To view our safety policy, click <a href='COR_files/Northwest COR policies.jpg'>here</a> 
        <p>If you have any questions about Northwest Ventilation (1977) ltd’s safety program, or to report unsafe work please contact our safety Administrator directly.</p>
        <p>Kimberley Bradley</p>
        <a href='tel:204-999-2441'>(204) 999-2441</a>
        <br/>
        <a href='mailto:kim@spectrumsafety.ca'>kim@spectrumsafety.ca</a>
    </div>
    <div class='col-md-5 col-sm-5'>
        <img class='cor-logo-lg' src="img/COR.png" alt="">
    </div>
</div>