[Bb]in
ClientBin
[Oo]bj
build
*.suo
Log
_ReSharper.*
*.user
*.sln.cache
*.swp
*.vssscc
*.vspscc
*.build.*
*.orig
*~
.idea/
release/
.sass-cache/
/*.dotCover
*.ncrunchsolution
*.iml
*.lock
node_modules/
_UpgradeReport_Files/
UpgradeLog.*
_SpecRunner.html
.grunt/
_package/*
components/
public/
src/css/
src/js/libs/