<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img class="img-responsive img-rounded" src="img/northwest.png" alt="">
    </div>
</div>
<h2 class='text-center'>Proudly serving the Winnipeg community for over 30 years!</h2>

<hr>
<div class='col-md-8'>
    <p>Northwest Ventilation repairs, services and installs residential and commercial heating and cooling systems.</p>

    <p>We are proud to be locally owned and operated.</p>  

    <p>We repair and service all residential and commercial furnaces, air conditioners, water heaters, heat recovery ventilation systems and more. We provide service to all areas of Winnipeg and surrounding communities including Selkirk, East St. Paul, West St. Paul, Headingley, and Oak Bluff.</p>

    <p>We sell and install residential and commercial heating and cooling equipment, gas fireplaces, hot water tanks, whole home humidifiers, whole home air purifiers and heat recovery ventilation systems.  Contact us for a free estimate.</p>
    <a class='btn btn-primary find-out-more' href='about'>Find out more</a>
</div>
<div class='col-md-4'>
    <h3>Contact Us:</h3>
    <p>Residential sales and service: <a href='tel:204-895-3731'>204-895-3731</a></p>
    <p>Commercial sales and service: <a href='tel:204-895-2288'>204-895-2288</a></p>
    <p>Email: <a href='mailto:contactus@northwestventilation.com'>contactus@northwestventilation.com</a></p>
</div>
<hr class='clear'>
<div class="row clear">
    <div class="col-md-4">
        <div class='text-center home-btn' onclick='window.location="services"'>
            <i class='fa fa-wrench'></i>
            <p>Services</p>
        </div>           
        <ul>
            <li>Furnace service and installations</li>
            <li>A/C service and installations</li>
            <li>HRV service and installations</li>
            <li>Hot water tank service and installations</li>
            <li>Whole home air purifier and installations</li>
            <li>Gas fireplace service and installations</li>
            <li><a href='services'>Find out more</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class='text-center home-btn' onclick='window.location="payments"'>
            <i class='fa fa-money'></i>
            <p>Online Payments</p>
        </div>
        <p>Northwest Residential is pleased to offer our customers a secure, convenient way to pay their bill, anytime, from their own home computer.</p>
        <a href="payments">Pay Online</a>
    </div>
    <div class="col-md-4">
         <div class='text-center home-btn' onclick='window.location="quotes"'>
            <i class='fa fa-calculator'></i>
            <p>Request a Quote</p>
        </div>
        <p>Contact us now to get a free quote for any of your furnace, central air, gas fireplace, hot water tank, whole home air purifier, or heat recovery ventilation system needs! Call 204-895-3731, or <a href="quotes">request a quote online</a> </p>
    </div>
</div>