<div class='col-md-7'>
    <div class='about-us'>
        <h1>Our Team:</h1>

        <p>The Northwest Residential team includes certified gas-fitters and journeyman refrigeration mechanics.  Our commercial team handles repair and service for all standard equipment.  The residential team carries out service, retrofit applications, and installation for new home construction.</p>

        <h3>Principals:</h3>

        <h3>Eric Montford</h3>
        <p>Eric Montford is a journeyman refrigeration mechanic with over 30 years’ experience in Winnipeg.  Eric is involved in all aspects of service, repair and installation of heating and cooling for both residential and commercial projects and has been a key part of Northwest for over two decades.</p>

        <h3>Pino Valeri</h3>
        <p>Pino Valeri is a certified, licenced gasfitter with 23 years’ experience in ventilation, including duct design and installation for residential and commercial projects.  Pino joined Northwest in 2009 after working first as an installer and later as a manager of new residential construction with other Manitoba companies. Pino is a hands-on manager, providing technical expertise for all of Northwest’s installations. He also designs ductwork for all new home construction projects undertaken by Northwest.</p>
    </div>
    <br>
    <h4>Contact Us:</h4>
    <div>
        <p>Pino Valeri, Eric Montford, and Brett Roberts at Northwest Residential Heating and Air Conditioning can by reached by the following methods of contact:</p>
        <p>Residential sales and service: <a href='tel:204-895-3731'>204-895-3731</a></p>
        <p>Commercial sales and service:<a href='tel:204-895-2288'>204-895-2288</a></p>
        <p>Email: <a href='mailto:contactus@northwestventilation.com'>contactus@northwestventilation.com</a></p>
        <p>Northwest Residential Heating and Cooling is Located in Winnipeg Manitoba</p>
    </div>
</div>
<div class='col-md-5'>
    <div class="g-post" data-href="https://plus.google.com/108385852680441972538/posts/fGa9dfBpk8H"></div>
</div>